@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

@keyframes wiggle {
    50% { transform: translateX(10px) rotate(5deg); }
    0%, 100% { transform: translateX(-10px) rotate(-5deg); }
}

body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #353535;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #FFF;
    font-family: 'Fira Mono', monospace;
    cursor: default;

    transform-origin: 50% 0%;
    animation: wiggle 0.6s infinite cubic-bezier(0.65, 0, 0.35, 1);
}

ol {
    color: white;
    list-style: none;
}

li {
    max-width: fit-content;
}

a {
    text-decoration: none;
}

p {
    color: #FFF;
    padding: 5px;
    font-weight: bold;
    font-family: 'Fira Mono', monospace;
}

p:hover {
    cursor: pointer;
    color: gold;
}