@keyframes move {
    0% { transform: translateX(0); }
    100% { transform: translateX(900px); }
}
   
.robot {
    animation-name: move;
    animation-duration: 3s;
    /* animation-fill-mode: backwards; */
    /* animation-fill-mode: forwards; */
    animation-fill-mode: both;
}
   
body {
    margin:3em;
    background-color: #433F55;
}
   
img {
    width: 100px;
}