.robot {
    animation-name: move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}
  
@keyframes move {
    100% { 
        transform: translateX(700%); 
    }
}

body {
    margin: 3em;
    background-color: #433F55;
}
  
img {
    width: 100px;
}